version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: khelasathiadmin
      POSTGRES_PASSWORD: khelasathiadmin
      POSTGRES_DB: Khelasathi
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    container_name: backend
    build: ./Backend
    ports:
      - "9005:9005"
    depends_on:
      - db

  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    depends_on:
      - backend

volumes:
  pgdata:
